*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.cat {
    position: relative;
    /* left: 0px; */
    height: 400;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    background: #607d8b;
 
}

.face{
    background-color: orange;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 10;
    z-index: 3;
}

.eyes{
    position: relative;
    top: 30px;
    left: 15;
    display: flex;
}

.eye{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex; /*put on same row as eyes*/
    position: relative;
    margin: 15;
}

.pupil{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 8px;
}

.ears{
    position: absolute;
}

.ear{
    border-radius: 90px 0px 90px 0px;
    background-color: red;
    height: 100px;
    width: 100px;
}

.ear.right {
    transform: scaleX(-1);
}

.ear.left {
    position: relative;
    left: 100;
    top: -100;
}

.whiskers{
    width: 40%;

    
    
}

.whiskers.\33 {
    position: relative;
    top: -157px;
}

.whiskers.\32 {
    position: relative;
    top: -64px;
}

/*.whiskers.right{
transform:rotate(160deg);
position: relative;
    left: 90;
    top: 30;
margin:10;

}

.whiskers.left{
position:relative;
    left: 60;
   
transform:rotate(20deg);

} */

.nose{
    background-color: black;
    border-radius: 50%;
    height: 25;
    width: 25;
    position: relative;
    left: 85;
    top: -280px;
}

.whiskers{
    width: 100px;
    height: 100px;
    border: solid 1px #fa0808;
    border-color: rgb(161, 25, 25) transparent transparent transparent;
    border-radius: 500%/100px 100px 0 0;
    position: relative;
    transform: scaleX(-1);
    top: 29px;
    left: 45px;
}

.mouth{
    position: absolute;
    background-color: black;
    width: 50px;
    height: 10px;
    border-radius: 7px 7px 100px 100px;
    top: 154px;
    left: 74px;
  } 

  .stomach{
      background-color: orange;
      border-radius: 50%;
      height: 241px;
      width: 154px;
      position: relative;
      top: -16px;
      left: 20px;
      z-index: 2;
  }

  .tail{
    background-color: orange;
    border-radius: 50%;
    height: 70px;
    width: 200px;
    position: relative;
    top: -361px;
    left: 73px;
    transform: rotate(-18deg);
    z-index: 1;
  }

  .paws{
     position: relative;
     width: 30;
     height: 258px;
     border: 1mm solid transparent;
     border-radius: 50%;
     top: -402px;
     border-bottom-color: #000;
     left: 124px;
     z-index: 2;
  }

.paws.left {
    position: relative;
    top: -4px;
    left: -93px;
} 
/* .cursor {
    position: absolute;
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 50%;
    background: #b40660;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4000;
} */
